<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title">{{repo.name}}</h5>
        <img ng-src="{{repo.owner.avatar_url}}" alt="avatar-owner" class="rounded-circle float-right" width="64px">
        <h6 class="card-subtitle mb-2 text-muted">{{repo.language}}</h6>
        <p class="card-text">{{repo.description}}</p>
        <a href="#!/stats/{{repo.name}}"class="card-link">Stats</a>
        <a href="#!/issues/{{repo.name}}" class="card-link">Issues</a>
    </div>
</div>