body {
    background-color: #424141;
}

.box {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #cfc9c9;
    padding: 1rem;
}
.card-repo {
    border: 0.5px solid white;
    border-radius: 8px;
    background-color: wheat;
    padding: 0.6rem;
}