body {
    background-color: #424141;
}

.box {
    border: 1px solid #2b2525;
    border-radius: 5px;
    background-color: #2b2525;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px -3px 12px #888686;
}